/* Footer */
footer hr {
  margin: 1.6rem 4.4rem;
  margin-bottom: 0;
}
footer .wrapper {
  display: flex;
  flex-direction: column;
  margin-inline: 5rem;
}
footer .wrapper .top-wrapper {
  display: flex;
  justify-content: space-between;
}
footer .top-wrapper .f-left,
footer .top-wrapper .f-right {
  display: flex;
  flex-direction: column;
}
footer .top-wrapper .f-left {
  padding-top: 1rem;
}
footer .top-wrapper .f-phone {
  font-size: 24px;
  margin-top: 0.5rem;
}
hr {
  color: var(--light-grey);
}
footer #ics-w-i {
  border: 1px solid var(--primary-color);
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem;
  margin-top: .4rem;
  border-radius: 7px;
}
footer .top-wrapper .f-right {
  align-items: center;
  padding: 1rem;
  row-gap: 1rem;
}
footer .top-wrapper .f-right img {
  background-color: var(--dark-grey);
}
footer .bottom-wrapper {
  margin-bottom: 2rem;
}
footer .bottom-wrapper .s-media {
  background-color: var(--light-grey);
  padding-block: 0.2rem;
  display: flex;
  gap: 0.7rem;
  justify-content: center;
}
footer .s-media a {
  font-size: 29px;
}
