@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*,
*::after,
*:any-link,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
}
html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #00a651;
  --primary-color-d: #1aa732fd; 
  --white: #fff;
  --black: #000;
  /*--red: #1aa732fd; */
  --red: #e30b18; 
  /*--primary-color: #e30b18;
  --primary-color-d: #e30b18; */
  --blue: #00aeef;
  --yellow: #f99d1c;

  --border: 1px solid #c2bebe;
  --light-grey: #c2bebe;
  --dark-grey: #808080;
}

.hidden {
  display: none;
}

/*
Main
Collegies */
.collegies h1 {
  margin: 7rem 0 2.8rem 4.62rem;
  font-size: 29px;
  font-stretch: semi-expanded;
}
.collegies .colleges-wrapper {
  margin-left: 6.7rem;
  display: flex;
  flex-wrap: wrap;
  max-width: calc(100% - 13.4rem);
  max-height: -moz-fit-content;
  max-height: fit-content;
  column-gap: 2rem;
  row-gap: 2rem;
}
.collegies .college {
  height: 12.5rem;
  width: 17.37rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 7px;
  box-shadow: 0 12px 12px #c9bfbf;
}
.colleges-wrapper .college:first-child {
  background-color: var(--primary-color);
}
.colleges-wrapper .college:first-child .name {
  color: var(--primary-color);
  -webkit-text-fill-color: var(--white);
  -webkit-text-stroke: 0.3px var(--primary-color);
}
.colleges-wrapper .college:nth-child(2) {
  background-color: var(--dark-grey);
}
.colleges-wrapper .college:nth-child(2) .name {
  color: var(--dark-grey);
  -webkit-text-fill-color: var(--white);
  -webkit-text-stroke: 0.3px var(--dark-grey);
}
/* 3rs */
.colleges-wrapper .college:nth-child(3) {
  background-color: var(--blue);
}
.colleges-wrapper .college:nth-child(3) .name {
  color: var(--blue);
  -webkit-text-fill-color: var(--white);
  -webkit-text-stroke: 0.3px var(--blue);
}
/* 4th */
.colleges-wrapper .college:nth-child(4) {
  background-color: var(--yellow);
}
.colleges-wrapper .college:nth-child(4) .name {
  color: var(--yellow);
  -webkit-text-fill-color: var(--white);
  -webkit-text-stroke: 0.3px var(--yellow);
}
/* 5th */
.colleges-wrapper .college:nth-child(5) {
  background-color: var(--red);
}
.colleges-wrapper .college:nth-child(5) .name {
  color: var(--red);
  -webkit-text-fill-color: var(--white);
  -webkit-text-stroke: 0.3px var(--red);
}
/* 6th */
.colleges-wrapper .college:last-child {
  background-color: var(--yellow);
}
.colleges-wrapper .college:last-child .name {
  color: var(--yellow);
  -webkit-text-fill-color: var(--white);
  -webkit-text-stroke: 0.3px var(--yellow);
}
.colleges-wrapper .college i {
  font-size: 5rem;
  top: 40px;
  color: var(--white);
}
.colleges-wrapper .college:last-child .c-contacts {
  position: relative;
  bottom: 1.2rem;
  margin-bottom: 1rem;
}
.colleges-wrapper .college .small {
  font-size: 1rem;
}
.colleges-wrapper .college .small b {
  font-family: 'Roboto', sans-serif;
}
.colleges-wrapper .college .name {
  position: absolute;
  bottom: 0;
  width: inherit;
  border-radius: 7px;
  padding-block: 6px;
  display: flex;
  justify-content: center;
  background-color: #0006;
}

/* Courses */
.courses {
  display: flex;
  margin-top: 1.5rem;
  flex-direction: column;
  position: relative;
}
.courses hr {
  width: 89%;
  height: 0.2px;
  color: #362f2f;
  opacity: 0.5;
  margin-block: 1rem;
  margin-inline: auto;
}
.courses h2,
.courses p {
  margin-left: 4.4rem;
  margin-bottom: 10px;
}

/* Announcements */
.announcemt {
  display: flex;
  flex-direction: column;
  margin: 4.4rem;
  /* background-color: #00afef52; */
}
.announcemt h1 {
  font-size: 28px;
  margin-bottom: 3rem;
}
.announcemt ul {
  padding-left: 3rem;
  line-height: 20px;
}
.announcemt .article-wrap {
  border: var(--border);
  display: flex;
  margin-bottom: 10px;
  padding: 8px;
  position: relative;
  font-size: 15px;
}
.announcemt .article-wrap .as-icon {
  height: 3rem;
  border-radius: 50%;
}
.announcemt .article-wrap .ann-icon {
  font-size: 28px;
  margin-right: 3px;
}
.announcemt .article-wrap .text {
  margin-left: 8px;
  width: 100%;
  position: relative;
  right: 0;
  padding-bottom: 4rem;
}
.announcemt .article-wrap .text p {
  width: 100%;
}
.announcemt .article-wrap .lean-right {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 2rem;
}
a,
.announcemt a,
footer a,
footer .top-wrapper h2 {
  color: var(--primary-color);
}
.announcemt .ann-txt3 {
  display: flex;
  flex-direction: column;
}
.announcemt .ann-frame {
  align-self: center;
  border: none;
}

#to-top {
  position: fixed;
  width: 1.8rem;
  aspect-ratio: 1;
  display: flex;
  bottom: 2rem;
  right: 1rem;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 1px var(--primary-color);
  border-radius: 50%;
}
#to-top i {
  margin-bottom: 3px;
  font-size: small;
  color: var(--primary-color);
}
